/**
 * @file
 * Style.
 */
/**
 * @file
 * Base.
 */
/**
 * @file
 * Variables.
 */
/**
 * @file
 * Mixins.
 */
/**
 * @file
 * Layout elements.
 */
/**
 * @file
 * Process.
 */
/* Mobile First */
/* line 9, ../sass/partials/layout/_process.scss */
.process .col1 {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
/* line 12, ../sass/partials/layout/_process.scss */
.process .col2 {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
/* line 15, ../sass/partials/layout/_process.scss */
.process .col3 {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
/* line 18, ../sass/partials/layout/_process.scss */
.process .col4 {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 768px) {
  /* line 27, ../sass/partials/layout/_process.scss */
  .process .col1 {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 30, ../sass/partials/layout/_process.scss */
  .process .col2 {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 33, ../sass/partials/layout/_process.scss */
  .process .col3 {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 36, ../sass/partials/layout/_process.scss */
  .process .col4 {
    width: 23.72881%;
    float: right;
    margin-right: 0;
  }
}
/**
 * @file
 * Component (Module) elements.
 */
/**
 * @file
 * Navigation.
 */
/* Mobile First */
/* line 10, ../sass/partials/component/_navigation.scss */
#main-menu ul li a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
/* line 6, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/typography/links/_unstyled-link.scss */
#main-menu ul li a:active, #main-menu ul li a:focus {
  outline: none;
}

@media (min-width: 992px) {
  /* line 28, ../sass/partials/component/_navigation.scss */
  #main-menu ul li a {
    padding-right: 2em;
    text-transform: uppercase;
  }
}
/**
 * @file
 * Logo.
 */
/* Mobile First */
/**
 * @file
 * Logo.
 */
/* Mobile First */
/* line 9, ../sass/partials/component/_process_item.scss */
.process-item .drawing {
  position: relative;
  margin: 1em 3em;
}
/* line 13, ../sass/partials/component/_process_item.scss */
.process-item .drawing .drawing-illustration {
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}
/* line 25, ../sass/partials/component/_process_item.scss */
.process-item .drawing .drawing-line {
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 29, ../sass/partials/component/_process_item.scss */
.process-item .drawing .show {
  opacity: 1;
  filter: alpha(opacity=100);
}
/* line 33, ../sass/partials/component/_process_item.scss */
.process-item .drawing .hide {
  opacity: 0;
  filter: alpha(opacity=0);
}
/* line 38, ../sass/partials/component/_process_item.scss */
.process-item h2 {
  font-weight: 300;
  font-size: 3em;
  margin-bottom: 0.2em;
  text-align: center;
}

/**
 * @file
 * Logo.
 */
/* Mobile First */
/* line 9, ../sass/partials/component/_technology_item.scss */
.technology-item .drawing {
  position: relative;
  margin: 1em 3em;
}
/* line 13, ../sass/partials/component/_technology_item.scss */
.technology-item .drawing .drawing-illustration {
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}
/* line 25, ../sass/partials/component/_technology_item.scss */
.technology-item .drawing .drawing-line {
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 29, ../sass/partials/component/_technology_item.scss */
.technology-item .drawing .show {
  opacity: 1;
  filter: alpha(opacity=100);
}
/* line 33, ../sass/partials/component/_technology_item.scss */
.technology-item .drawing .hide {
  opacity: 0;
  filter: alpha(opacity=0);
}
/* line 38, ../sass/partials/component/_technology_item.scss */
.technology-item h3 {
  font-weight: 300;
  font-size: 2em;
  margin-bottom: 0.2em;
  text-align: center;
}

/**
 * @file
 * Logo.
 */
/* Mobile First */
/*
.drawings {
  position: relative;
  max-height: 800px;

  .illustration {
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
}

figcaption {
  margin: 0 auto 0 auto;
  max-width: 40em;
  width: 95%;
  text-align: center;
  background-color: red;

  h2 {
    font-weight: 300;
    font-size: 3em;
    margin-bottom: 0.2em;
  }

  p {
    font-size: 1.3em;
  }
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.line-drawing,
.illustration {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.line-drawing path {
  fill: none;
  stroke: white;
  stroke-width: 3;
}

path.line-round {
  stroke-linecap: round;
}

path.stroke-medium {
  stroke-width: 2;
}

path.stroke-thin {
  stroke-width: 1;
}

.demo-loading .show,
.demo-loading .hide {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}


.demo-loading section {
  margin: 2em auto 8em;
  max-width: 700px;
  text-align: center;
}

.demo-loading section figure {
  position: relative;
  display: inline-block;
  margin: 0 15px 20px;
  width: 200px;
  text-align: left;
}

.demo-loading section figure img {
  display: block;
  margin: 0 auto 10px;
}

.demo-loading svg.line-drawing {
  position: absolute;
  max-width: 100%;
  z-index: 10;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.demo-loading svg.line-drawing path {
  fill: none;
  stroke-width: 2;
  stroke: #ddd;
}

.demo-loading svg.line-drawing path.darker {
  stroke: #aaa;
}

.demo-loading svg#rectangle {
  width: 100%;
  height: 100%;
}

.demo-loading svg#headline {
  top: 50%;
  margin-top: 2px;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.demo-loading svg#related{
  width: 100%;
  height: 100%;
  max-width: 490px;
}

#logo {
  top: 39px;
}

#demo-link-1,
#demo-link-2,
#demo-link-3 {
  top: 148px;
}

#demo-link-1 {
  -webkit-transform: translateX(-130px);
  transform: translateX(-130px);
}

#demo-link-3 {
  -webkit-transform: translateX(48px);;
  transform: translateX(48px);;
}

@media screen and (max-width: 35.375em) {
  .demo-loading .headline h1 {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 30em) {
  .related {
    font-size: 0.8em;
  }
}
*/
/**
 * @file
 * State.
 */
