/**
 * @file
 * Style.
 */
/**
 * @file
 * Base.
 */
/**
 * @file
 * Variables.
 */
/**
 * @file
 * Mixins.
 */
/**
 * @file
 * Layout elements.
 */
/**
 * @file
 * Navigation.
 */
/* Mobile First */
@media (min-width: 768px) {
  /* line 10, ../sass/partials/layout/_navigation.scss */
  #main-wrapper {
    padding-top: 0px !important;
  }
}
/**
 * @file
 * Layout elements.
 */
/* line 6, ../sass/partials/layout/_section.scss */
section.white {
  position: relative;
  padding: 10em 10%;
  background: white;
  color: #6fb7e9;
  text-align: center;
  z-index: 1;
  padding-top: 6em;
}
/* line 13, ../sass/partials/layout/_section.scss */
section.white::before, section.white::after {
  position: absolute;
  content: '';
  pointer-events: none;
}
/* line 23, ../sass/partials/layout/_section.scss */
section.white::before, section.white::after {
  top: 0;
  left: -25%;
  z-index: -1;
  width: 150%;
  height: 75%;
  background: inherit;
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
/* line 37, ../sass/partials/layout/_section.scss */
section.white::before {
  height: 50%;
  background: #e9f2f9;
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-transform-origin: 3% 0;
  transform-origin: 3% 0;
}

/* line 48, ../sass/partials/layout/_section.scss */
section.blue {
  position: relative;
  padding: 10em 10%;
  background: #b2d1e5;
  color: #fff;
  text-align: center;
  z-index: 1;
  padding-top: 6em;
}
/* line 55, ../sass/partials/layout/_section.scss */
section.blue::before, section.blue::after {
  position: absolute;
  content: '';
  pointer-events: none;
}
/* line 65, ../sass/partials/layout/_section.scss */
section.blue::before, section.blue::after {
  top: 0;
  left: -25%;
  z-index: -1;
  width: 150%;
  height: 75%;
  background: inherit;
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
/* line 79, ../sass/partials/layout/_section.scss */
section.blue::before {
  height: 50%;
  background: #e9f2f9;
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-transform-origin: 3% 0;
  transform-origin: 3% 0;
}

/**
 * @file
 * Process.
 */
/* Mobile First */
/* line 9, ../sass/partials/layout/_process.scss */
.process .col1 {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
}
/* line 12, ../sass/partials/layout/_process.scss */
.process .col2 {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
}
/* line 15, ../sass/partials/layout/_process.scss */
.process .col3 {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
}
/* line 18, ../sass/partials/layout/_process.scss */
.process .col4 {
  width: 23.72881%;
  float: right;
  margin-right: 0;
}

/**
 * @file
 * Logo.
 */
/* Mobile First */
/* line 9, ../sass/partials/layout/_recent_articles.scss */
#block-views-block-content-recent-article-recent .content .first {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
}
/* line 12, ../sass/partials/layout/_recent_articles.scss */
#block-views-block-content-recent-article-recent .content .second {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
}
/* line 15, ../sass/partials/layout/_recent_articles.scss */
#block-views-block-content-recent-article-recent .content .third {
  width: 32.20339%;
  float: right;
  margin-right: 0;
}

/**
 * @file
 * Global elements.
 */
/* line 6, ../sass/partials/layout/_global.scss */
body {
  background-color: #e9f2f9;
}
/* line 8, ../sass/partials/layout/_global.scss */
body #header {
  background-color: #e9f2f9;
}
/* line 11, ../sass/partials/layout/_global.scss */
body #main-wrapper {
  background-color: white;
}

@media (min-width: 992px) {
  /* line 18, ../sass/partials/layout/_global.scss */
  body {
    background-color: #e9f2f9;
    color: #241f55;
  }
  /* line 21, ../sass/partials/layout/_global.scss */
  body #header {
    box-shadow: 0 0px 3px #e9f2f9;
    background: rgba(255, 255, 255, 0.25);
  }
  /* line 25, ../sass/partials/layout/_global.scss */
  body #main-wrapper {
    background-color: white;
  }
}
/**
 * @file
 * Component (Module) elements.
 */
/**
 * @file
 * Logo.
 */
/* Mobile First */
/* line 7, ../sass/partials/component/_logo.scss */
#logo {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  border: 0;
  background-color: transparent;
  display: block;
  background: transparent url('/themes/mariquecalcus/images/../images/logos/logo.png?1401311063') no-repeat;
  width: 300px;
  height: 200px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
/* line 6, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/typography/links/_unstyled-link.scss */
#logo:active, #logo:focus {
  outline: none;
}

@media (min-width: 992px) {
  /* line 20, ../sass/partials/component/_logo.scss */
  #logo {
    line-height: 200px;
    font-size: 4em;
  }
}
/**
 * @file
 * Navigation.
 */
/* Mobile First */
/* line 10, ../sass/partials/component/_navigation.scss */
#main-menu ul li a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
/* line 6, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/typography/links/_unstyled-link.scss */
#main-menu ul li a:active, #main-menu ul li a:focus {
  outline: none;
}

@media (min-width: 992px) {
  /* line 28, ../sass/partials/component/_navigation.scss */
  #main-menu ul li a {
    padding-right: 2em;
    text-transform: uppercase;
  }
}
/**
 * @file
 * Process.
 */
/* Mobile First */
/**
 * @file
 * Carousel.
 */
/* Mobile First */
/* line 8, ../sass/partials/component/_carousel.scss */
.technology .html5 {
  text-align: center;
}
/* line 10, ../sass/partials/component/_carousel.scss */
.technology .html5 .logo {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  border: 0;
  background-color: transparent;
  display: block;
  background: transparent url('/themes/mariquecalcus/images/technology/html5.png?1401311143') no-repeat;
  width: 200px;
  height: 200px;
  background-image: url("../images/technology/html5.svg");
  margin: auto;
}
/* line 16, ../sass/partials/component/_carousel.scss */
.technology .css3 {
  text-align: center;
}
/* line 18, ../sass/partials/component/_carousel.scss */
.technology .css3 .logo {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  border: 0;
  background-color: transparent;
  display: block;
  background: transparent url('/themes/mariquecalcus/images/technology/css3.png?1401311143') no-repeat;
  width: 200px;
  height: 200px;
  background-image: url("../images/technology/css3.svg");
  margin: auto;
}
/* line 24, ../sass/partials/component/_carousel.scss */
.technology .responsive {
  text-align: center;
}
/* line 26, ../sass/partials/component/_carousel.scss */
.technology .responsive .logo {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  border: 0;
  background-color: transparent;
  display: block;
  background: transparent url('/themes/mariquecalcus/images/technology/responsive.png?1401311143') no-repeat;
  width: 200px;
  height: 200px;
  background-image: url("../images/technology/responsive.svg");
  margin: auto;
}
/* line 32, ../sass/partials/component/_carousel.scss */
.technology .performance {
  text-align: center;
}
/* line 34, ../sass/partials/component/_carousel.scss */
.technology .performance .logo {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  border: 0;
  background-color: transparent;
  display: block;
  background: transparent url('/themes/mariquecalcus/images/technology/performance.png?1401311143') no-repeat;
  width: 539px;
  height: 376px;
  background-image: url("../images/technology/performance.svg");
  margin: auto;
}
/* line 40, ../sass/partials/component/_carousel.scss */
.technology .drupal {
  text-align: center;
}
/* line 42, ../sass/partials/component/_carousel.scss */
.technology .drupal .logo {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  border: 0;
  background-color: transparent;
  display: block;
  background: transparent url('/themes/mariquecalcus/images/technology/drupal.png?1401311143') no-repeat;
  width: 200px;
  height: 200px;
  background-image: url("../images/technology/drupal.svg");
  margin: auto;
}

/**
 * @file
 * Logo.
 */
/* Mobile First */
/* line 7, ../sass/partials/component/_toolbar.scss */
.toolbar {
  display: none;
}

/**
 * @file
 * Logo.
 */
/* Mobile First */
/* line 12, ../sass/partials/component/_recent_articles.scss */
#block-views-block-content-recent-article-recent .content .views-field-body h2 {
  font-size: 1em;
}

/**
 * @file
 * Logo.
 */
/* Mobile First */
/* line 7, ../sass/partials/component/_splash.scss */
html {
  /* all the tags up to .fullscreen-cont must have this style */
  height: 100%;
}
/* line 10, ../sass/partials/component/_splash.scss */
html body {
  height: 100%;
}
/* line 12, ../sass/partials/component/_splash.scss */
html body .container {
  height: 100%;
  overflow: visible;
  overflow-x: hidden;
}
/* line 16, ../sass/partials/component/_splash.scss */
html body .container #main-wrapper {
  height: 100%;
}
/* line 18, ../sass/partials/component/_splash.scss */
html body .container #main-wrapper .intro {
  height: 100%;
  background: transparent url("http://placehold.it/1240x885") center center no-repeat;
  position: relative;
  z-index: 1;
  padding: 0;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* content styles */
}
/* line 30, ../sass/partials/component/_splash.scss */
html body .container #main-wrapper .intro .fullscreen-cont,
html body .container #main-wrapper .intro .fullscreen-img {
  display: block;
  position: relative;
  min-width: 100%;
  min-height: 100%;
}
/* line 39, ../sass/partials/component/_splash.scss */
html body .container #main-wrapper .intro .fullscreen-img {
  display: block;
  position: absolute;
  z-index: 1;
  background-size: cover;
  background-position: 50% 50%;
}
/* line 47, ../sass/partials/component/_splash.scss */
html body .container #main-wrapper .intro .content {
  display: block;
  position: relative;
  z-index: 1;
}

@media (min-width: 768px) {
  /* line 60, ../sass/partials/component/_splash.scss */
  html {
    /* all the tags up to .fullscreen-cont must have this style */
    height: 100%;
  }
  /* line 63, ../sass/partials/component/_splash.scss */
  html body {
    height: 100%;
  }
  /* line 65, ../sass/partials/component/_splash.scss */
  html body .container {
    height: 100%;
    overflow: visible;
  }
}
/**
 * @file
 * Logo.
 */
/* Mobile First */
/* line 7, ../sass/partials/component/_footer.scss */
#footer {
  position: relative;
  padding: 10em 10%;
  background: #3c8dc5;
  color: #241f55;
  z-index: 1;
  padding-top: 6em;
}
/* line 13, ../sass/partials/component/_footer.scss */
#footer::before, #footer::after {
  position: absolute;
  content: '';
  pointer-events: none;
}
/* line 23, ../sass/partials/component/_footer.scss */
#footer::before, #footer::after {
  top: 0;
  left: -25%;
  z-index: -1;
  width: 150%;
  height: 75%;
  background: inherit;
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
/* line 37, ../sass/partials/component/_footer.scss */
#footer::before {
  height: 50%;
  background: #6fb7e9;
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-transform-origin: 3% 0;
  transform-origin: 3% 0;
}

/**
 * @file
 * State.
 */
/**
 * @file
 * SVG.
 */
/**
 * @file
 * Scrolling.
 */
/* Mobile First */
@media (min-width: 992px) {
  /* line 8, ../sass/partials/state/_scrolling.scss */
  #header.scrolling {
    background-color: white;
  }
  /* line 11, ../sass/partials/state/_scrolling.scss */
  #header.scrolling #logo {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    border: 0;
    background-color: transparent;
    display: block;
    background: transparent url('/themes/mariquecalcus/images/../images/logos/logo_medium.png?1401311063') no-repeat;
    width: 480px;
    height: 100px;
    padding: 15px;
  }
}
