/**
 * Query panel
 */

/*#database-filter-form .form-item {
    float: left;
    margin-right: 10px;
}

#filter-query-wrapper {
    clear: left;
}*/

#wp-query-wrapper {
    margin-top: 20px;
}

.wp-query {
    margin-bottom: 30px;
    border-left: 3px solid #CCC;
    padding-left: 10px;
    padding-bottom: 10px;
}

.wp-query-select {
    border-left: 3px solid #CCC;
}

.wp-query-insert {
    border-left: 3px solid #0F0;
}

.wp-query-update {
    border-left: 3px solid #00F;
}

.wp-query-delete {
    border-left: 3px solid #F00;
}

.wp-query-info {
    margin: 10px 0;
}

.wp-query-info-button {
    background-color: #CCC;
    color: #fff;
    padding: 3px;
    cursor: pointer;
    border-radius: 4px;
}

.wp-query-info-button.open {
    background-color: #AAA;
}

.wp-query-data {
    display: none;
    margin: 10px 0;
}
