#block-seven-help,
legend {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  word-wrap: normal;
  font: 0/0 a;
}

fieldset {
  margin: 0;
  border: 0;
}

.form-type-vertical-tabs fieldset {
  padding: 0;
}

details {
  margin: 0.5em 0;
  border-radius: 4px;
  background: #FCFCFA;
}
details details {
  background: inherit;
}

blockquote {
  border-left: 10px solid #A6A5A1;
  padding-left: 10px;
}

code, pre, kbd {
  font-size: 1em !important;
}

code {
  font-weight: 700;
}

pre code {
  font-weight: 400;
  padding: 0;
  margin: 0;
}

pre.code-block {
  background: #F5F5F2;
  border: 1px solid #ccc;
  font-weight: 400;
  margin: 0;
  padding: 20px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

#edit-layouts {
  padding: 0;
  border: 1px solid #BFBFBA;
  background: #FCFCFA;
  border-radius: 4px;
  overflow: hidden;
}
#edit-layouts .details-wrapper {
  padding: 0;
}
#edit-layouts #edit-adv-options .details-wrapper {
  padding: 0.5em 1em;
}
#edit-layouts #edit-adv-options #edit-selectors details .details-wrapper {
  padding: 0;
}
#edit-layouts #edit-adv-options pre {
  background: #F5F5F2;
  border-top: 1px solid #ccc;
  font-weight: 400;
  margin: 0;
  padding: 1em 0.5em;
}
#edit-layouts .submit--layout {
  background: #FCFCFA;
  border-top: 1px solid #BFBFBA;
  clear: both;
  margin: 0;
  padding: 1em 0.5em;
  position: relative;
  z-index: 10;
}
#edit-layouts h2,
#edit-layouts h3,
#edit-layouts h4,
#edit-layouts h5 {
  font-size: 1em;
  text-transform: uppercase;
}
#edit-layouts .fieldset-wrapper {
  overflow: hidden;
}
#edit-layouts #edit-layouts--description,
#edit-layouts #edit-layouts-enable-container {
  padding: 0 0.5em;
}
#edit-layouts #edit-settings-layouts-disabled {
  font-size: 0.923em;
  line-height: 1.295em;
}
#edit-layouts #edit-layouts-enable-container {
  margin-bottom: 10px;
}
#edit-layouts .form-item-settings-layouts-enable {
  margin: 0;
}
#edit-layouts .layouts-column {
  float: left;
  border: 0;
  margin: 0;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
  border-top: 1px solid #BFBFBA;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#edit-layouts .layouts-column-one {
  width: 30%;
}
#edit-layouts .layouts-column-two {
  width: 40%;
  border-left: 1px solid #BFBFBA;
  border-right: 1px solid #BFBFBA;
}
#edit-layouts .layouts-column-two details {
  border: 0 none;
  margin: 0;
}
#edit-layouts .layouts-column-three {
  width: 30%;
}
#edit-layouts .table-layouts {
  width: 100%;
}
#edit-layouts .table-layouts .field-hidden {
  display: none;
}
#edit-layouts .table-layouts .collapse-processed > summary {
  padding-left: 0;
  padding-right: 0.5em;
}
#edit-layouts .table-layouts details > .details-wrapper {
  padding: 0;
}
#edit-layouts .table-layouts tbody > tr > td {
  width: 13px;
}
#edit-layouts .table-layouts td {
  vertical-align: top;
  padding: 20px 10px;
}
#edit-layouts .table-layouts img {
  display: block;
  max-width: 100px;
  max-height: 140px;
  height: auto;
}
#edit-layouts .table-layouts .field-name,
#edit-layouts .table-layouts .field-desc {
  min-width: 18em;
}
#edit-layouts .table-layouts .field-screenshot {
  width: 100px;
}
#edit-layouts .table-layouts .field-screenshot a {
  color: #747474;
}
#edit-layouts .table-layouts .field-screenshot a:hover, #edit-layouts .table-layouts .field-screenshot a:focus {
  color: #595959;
  text-decoration: none;
}
#edit-layouts .table-layouts .plus-icon {
  text-align: left;
  font-size: 0.8em;
  display: block;
}
#edit-layouts .table-layouts h3 {
  margin: 0 0 1.15em;
}
#edit-layouts dl {
  white-space: nowrap;
  min-width: 15em;
}
#edit-layouts dl dt {
  float: left;
  width: 5.5em;
  font-weight: 700;
}
#edit-layouts dl dd {
  margin: 0;
}
#edit-layouts .current-default-layout-meta {
  font-size: 0.923em;
  line-height: 1.295em;
}

#edit-manage-suggestions {
  border: 0;
  padding: 0;
  margin: 0;
}

.form-item-layout-type-select {
  display: inline;
}

#edit-default-not-set,
#edit-default-set,
#edit-none-set {
  border-top: 1px solid #BFBFBA;
  border-bottom: 1px solid #BFBFBA;
  margin: 10px 0 20px;
  padding: 10px;
}

#edit-default-not-set {
  background-color: #fcf4f2;
  color: #a51b00;
}

#edit-none-set {
  background-color: #f3faef;
  color: #325e1c;
}

#edit-default-set {
  background: #F7FCFF;
}
#edit-default-set ol {
  margin: 10px 0 0 0;
  padding: 0 0 0 20px;
}
#edit-default-set ol, #edit-default-set p {
  font-size: 0.923em;
  line-height: 1.231em;
}

#edit-suggestions {
  padding-top: 0;
  padding: 10px;
  background: #F7FCFF;
  border-top: 1px solid #BFBFBA;
  border-bottom: 1px solid #BFBFBA;
  margin: 10px 0 20px;
}
#edit-suggestions label {
  padding-bottom: 10px;
}
#edit-suggestions .description {
  margin-top: 20px;
}
#edit-suggestions ol {
  margin: 0;
  padding: 0 0 0 20px;
}

#edit-options,
.form-item-layout-suggestion,
#edit-no-mq-css {
  clear: both;
}

#edit-no-base-layout {
  border: 1px solid #B3B2AD;
  border-color: #f4daa6;
  color: #734c00;
  background-color: #fdf8ed;
  padding: 10px;
}

#edit-options .form-disabled {
  background: #f7f7f7;
  margin: 0;
  padding: 1em 0;
}

#edit-max-width .form-item-settings-max-width-value,
#edit-max-width .form-item-settings-max-width-unit {
  display: inline-block;
  margin-right: 3px;
}

.layout-structure-screenshot {
  background-image: url("../../docs/help_subtheme/layout-structure.png");
  max-width: 308px;
  min-height: 163px;
}

@media (max-width: 48em) {
  #edit-layouts .form-radios label {
    max-width: 120px;
  }
}
@media (max-width: 56em) {
  #edit-default-layout {
    float: none;
    clear: both;
    margin: 0;
    padding: 0 0 10px;
  }
}
#edit-advanced-settings > .details-wrapper {
  padding: 0;
}
#edit-advanced-settings .vertical-tabs {
  border-left: 0;
  border-right: 0;
}
#edit-advanced-settings .submit--advanced-settings {
  padding: 0 0.5em;
}

#edit-font-settings fieldset {
  border-bottom: 1px solid #BFBFBA;
  padding-bottom: 1em;
}
#edit-font-settings fieldset .fieldset-description h3 {
  font-size: 1em;
  text-transform: uppercase;
}
#edit-font-settings fieldset fieldset {
  border: 0;
  padding: 0;
}

/* Image alignment options */
#edit-image-settings .description,
#edit-image-settings .form-type-radios {
  clear: both;
}
#edit-image-settings details details {
  border: 0;
  padding: 0;
  margin: 0;
}
#edit-image-settings details fieldset legend {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto;
  width: auto;
  font-family: inherit;
  padding: 0 0 15px;
}
#edit-image-settings .form-type-radios label {
  margin-bottom: 5px;
}
#edit-image-settings .form-type-radio {
  clear: none;
  float: left;
  margin: 0 30px 10px 0;
  text-align: center;
  width: 50px;
}
#edit-image-settings .form-type-radio input.form-radio {
  margin-bottom: 4px;
}
#edit-image-settings .form-type-radio label {
  background-image: url(image-alignment-sprite.png);
  background-repeat: no-repeat;
  display: table-cell;
  font-size: 0.8em;
  height: 80px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  vertical-align: bottom;
  width: 50px;
}
#edit-image-settings .form-type-radio label[for$=-none] {
  background-position: 0 0;
}
#edit-image-settings .form-type-radio label[for$=-left] {
  background-position: -50px 0;
}
#edit-image-settings .form-type-radio label[for$=-center] {
  background-position: -100px 0;
}
#edit-image-settings .form-type-radio label[for$=-right] {
  background-position: -150px 0;
}

#edit-titles-settings .titles-styles-wrapper .fieldset-description {
  float: left;
  padding: 0;
  width: 12em;
}
#edit-titles-settings .titles-styles-wrapper .form-type-select {
  clear: none;
  float: left;
  margin: 0 10px 0 0;
}
#edit-titles-settings .titles-styles-wrapper .form-select {
  min-width: 8em;
}
#edit-titles-settings .form-type-select {
  min-width: 8em;
}
#edit-titles-settings .form-type-select label {
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  position: absolute;
}
#edit-titles-settings #edit-site-name-font-style .form-type-select label {
  clip: auto;
  display: block !important;
  height: auto;
  overflow: auto;
  padding-bottom: 0.5em;
  position: static !important;
  width: auto;
}
#edit-titles-settings #edit-site-name-font-style .fieldset-description {
  padding-top: 2.2em;
}

#edit-touch-icons-settings .form-type-textfield {
  margin-bottom: 20px;
}
#edit-touch-icons-settings label {
  margin-bottom: 5px;
}
#edit-touch-icons-settings .field-prefix {
  color: #666;
}

#edit-basic-settings {
  overflow: hidden;
  padding: 0;
}

.theme-settings-bottom {
  clear: none;
}

#system-theme-settings .vertical-tabs,
#system-theme-settings .form-type-vertical-tabs {
  margin: 0;
  border-radius: 0;
}

#edit-jquery .form-type-checkbox .description {
  font-size: 0.8em;
}

#edit-drupal-core .form-type-checkbox {
  margin-bottom: 0;
}
#edit-drupal-core small {
  display: block;
  margin-left: 2em;
}
#edit-drupal-core small:before {
  content: "- ";
}

#edit-help h1,
#edit-subtheme-help h1 {
  font-size: 1.25em;
  text-transform: uppercase;
}
#edit-help h2, #edit-help h3, #edit-help h4,
#edit-subtheme-help h2,
#edit-subtheme-help h3,
#edit-subtheme-help h4 {
  margin: 2em 0 0;
  padding-bottom: 0;
  font-size: 1em;
  text-transform: uppercase;
}
#edit-help ol, #edit-help ul,
#edit-subtheme-help ol,
#edit-subtheme-help ul {
  margin-bottom: 1em;
  padding: 0;
}

#edit-help-menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.status-block {
  float: right;
  width: 200px;
  padding: 10px;
  margin: 0 0 10px 20px;
}
.status-block.warning {
  background: #FDF8ED;
  color: #734C00;
}
.status-block.status {
  background: #f3faef;
  color: #325e1c;
}
.status-block h2 {
  font-size: 1em !important;
}
.status-block p, .status-block h2 {
  margin: 0 !important;
  padding: 0 !important;
}
