.icon-css3 { background-image: url('css3.png'); background-repeat: no-repeat; }

.icon-drupal { background-image: url('drupal.png'); background-repeat: no-repeat; }

.icon-drupalold { background-image: url('drupalold.png'); background-repeat: no-repeat; }

.icon-html5 { background-image: url('html5.png'); background-repeat: no-repeat; }

.icon-logo { background-image: url('logo.png'); background-repeat: no-repeat; }

.icon-mysql { background-image: url('mysql.png'); background-repeat: no-repeat; }

.icon-performance { background-image: url('performance.png'); background-repeat: no-repeat; }

.icon-php { background-image: url('php.png'); background-repeat: no-repeat; }

.icon-responsive { background-image: url('responsive.png'); background-repeat: no-repeat; }

