//
// Base imports commonly used frameworks, plugins, mixins and sets
// commonly used variables.
// ---------------------------------------------------------------------------

// Compass
@import "compass/support";
@import "compass/utilities";
@import "compass/css3";


// Mixins
@import "../mixins/utility";
@import "../mixins/typography";


// Breakpoint variables.
//
// These have parity with the default layouts that ship with
// Adaptivetheme. You can use these or define new ones, or simply
// write your own media queries. See the _base.scss partial in any
// layout for full documentation on these breakpoints.
//
// Usage Example:
//
// @media #{$narrow} {
//   ...styles only for narrow screens.
// }
//
$narrow      : "all and (min-width: 45em) and (max-width: 60em)";
$narrow-wide : "all and (min-width: 45em)"; // Allow styles to cascade into wide.
$wide        : "all and (min-width: 60em)";
