//
// Similar to main.css from h5bp, with some additions for headings, links
// flexible images and inputs.
//
// ---------------------------------------------------------------------------
@import "base";


html {
  font-size: 1em;   // If you change gobal font sizes the grid will change, the layout is an ems based grid
  line-height: 1.4; // Set font sizes on specific elements instead.
}

/* Compass headings() mixin, takes a range, e.g. headings(2,6) or all */
#{headings()} {
}

a {
  text-decoration: none;

  &:link,
  &:visited {}

  &:active,
  &.active {}

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

/* Flexible images, reponsive images issue not resolved just yet, right? */
img {
  height: auto;
  max-width: 100%;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* A better looking default horizontal rule */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle;
}

/* Remove default fieldset styles. */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Allow only vertical resizing of textareas. */
textarea {
  resize: vertical;
}

/* Keep form elements from overflowing their containers. */
input {
  max-width: 100%;
  @include box-sizing(border-box);
}

