/**
 * @file
 * Global elements.
 */

body {
  background-color: $blue-lighter;
  color: $blue-darker;
  #header {
    background-color: $blue-lighter;
  }
  #main-wrapper {
    #main {
      background-color: $white;
      max-width: 100%;
    }
    #footer {
      background-color: $blue-dark;
    }
  }
}


@include breakpoint($bp-tablet) {
  body {
    #header {
      //background-color: $white;
      //background: rgba(60, 141, 197, 0.25);
      background: rgba(255, 255, 255, 0.75);
      box-shadow: 0 0 3px $blue-lighter;
    }
  }
}
