/**
 * @file
 * Global elements.
 */


@include breakpoint($bp-tablet) {
  body {
    #header {
      height: 100px;
      .navigation {
        line-height: 100px;
      }
    }
    #main-wrapper {
      padding-top: 0;
    }
    //&.front #main-wrapper{
    //   padding-top: 0!important;
    //}
  }
}
