/**
 * @file
 * Global elements.
 */


@include breakpoint($bp-desktop) {
  body {
    #header {
      height: 100px;
      .navigation {
        line-height: 100px;
      }
    }
    #main-wrapper {
      //overflow-x: hidden;
      padding-top: 300px;
    }
    &.front #main-wrapper{
      padding-top: 0!important;
    }
  }
}
