/**
 * @file
 * Layout elements.
 */

.decor {
  text-align: center;
  padding: 2em 0 2em;

  .content {
    @include container(96%);

    a {
      color: $blue;
      &:hover {
        color: $green;
      }
    }
  }
}

.white {
  background: $white;
  color: $blue;
  &::before {
    background: $blue-lighter;
  }
}

.blue {
  background: $blue-light;
  color: $white;
  &::before {
    background: $blue-lighter;
  }
}


@include breakpoint($bp-tablet) {
  .decor {
    position: relative;
    padding: 4em 0 4em;
    z-index: 1;

    .content {
      @include container(96%);
    }

    //&::before,
    //&::after {
    //  position: absolute;
    //  content: '';
    //  pointer-events: none;
    //}


    //&::before,
    //&::after {
    //  top: 0;
    //  left: -25%;
    //  z-index: -1;
    //  width: 125%;
    //  height: 75%;
    //  background: inherit;
    //  pointer-events: none;
    //  @include rotate(-2deg);
    //  @include transform-origin(0, 0);
    //}

    //&::before {
    //  height: 50%;
    //  @include rotate(-3deg);
    //  @include transform-origin(0, 0);
    //  background: $blue-lighter;
    //}

  }
}


@include breakpoint($bp-desktop) {
  .decor {
    padding: 6em 0 6em;

    .content {
      @include container(92%);
    }
  }
}


@include breakpoint($bp-large) {
  .decor {

    .content {
      @include container(90%);
    }
  }
}
