/**
 * @file
 * Layout elements.
 */

.white {
  background: $white;
  color: $blue;
  &::before {
    background: $blue-lighter;
  }
}

.blue {
  background: $blue-light;
  color: $white;
  &::before {
    background: $blue-lighter;
  }
}


@include breakpoint($bp-tablet) {
  .decor {
    position: relative;
    padding: 6em 0 6em;
    text-align: center;
    z-index: 1;

    &::before,
    &::after {
      position: absolute;
      content: '';
      pointer-events: none;
    }


    &::before,
    &::after {
      top: 0;
      left: -25%;
      z-index: -1;
      width: 125%;
      height: 75%;
      background: inherit;
      pointer-events: none;
      @include rotate(-2deg);
      @include transform-origin(0, 0);
    }

    &::before {
      height: 50%;
      @include rotate(-3deg);
      @include transform-origin(0, 0);
      background: $blue-lighter;
    }

  }
}
