/**
 * @file
 * Layout elements.
 */

section.white {
  position: relative;
  padding: 10em 10%;
  background: $white;
  color: $blue;
  text-align: center;

  &::before,
  &::after {
    position: absolute;
    content: '';
    pointer-events: none;
  }

  z-index: 1;
  padding-top: 6em;

  &::before,
  &::after {
    top: 0;
    left: -25%;
    z-index: -1;
    width: 150%;
    height: 75%;
    background: inherit;
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }

  &::before {
    height: 50%;
    background: $blue-lighter;
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
    -webkit-transform-origin: 3% 0;
    transform-origin: 3% 0;
  }

}

section.blue {
  position: relative;
  padding: 10em 10%;
  background: $blue-light;
  color: #fff;
  text-align: center;

  &::before,
  &::after {
    position: absolute;
    content: '';
    pointer-events: none;
  }

  z-index: 1;
  padding-top: 6em;

  &::before,
  &::after {
    top: 0;
    left: -25%;
    z-index: -1;
    width: 150%;
    height: 75%;
    background: inherit;
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }

  &::before {
    height: 50%;
    background: $blue-lighter;
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
    -webkit-transform-origin: 3% 0;
    transform-origin: 3% 0;
  }

}
