/**
 * @file
 * Navigation.
 */

/* Mobile First */
.page-blogs,
.page-taxonomy {

  .node--type-article {
    clear: both;
    padding: 1em 0 1em 0;
  }
}

@include breakpoint($bp-tablet) {
  .page-blogs,
  .page-taxonomy {

    .node--type-article {
      padding: 2em 0 2em 0;
    }
  }
}


@include breakpoint($bp-desktop) {
  .page-blogs,
  .page-taxonomy {

    .node--type-article {
      padding: 3em 0 4em 0;
    }
  }
}


@include breakpoint($bp-large) {
  .page-blogs,
  .page-taxonomy {

    .node--type-article {
      padding: 2em 0 2em 0;
    }
  }
}
