/* HTML Elements
-----------------------------------------------------------------------------*/
html {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.625;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 32px;
  font-size: 2rem;
}

h2 {
  font-size: 24px;
  font-size: 1.5rem;
}

h3 {
  font-size: 18px;
  font-size: 1.125rem;
}

h4 {
  font-size: 16px;
  font-size: 1rem;
}

h5 {
  font-size: 14px;
  font-size: 0.875rem;
}

h6 {
  font-size: 12px;
  font-size: 0.75rem;
}

a {
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
}

/* Flexible images */
img {
  height: auto;
  max-width: 100%;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* A better looking default horizontal rule */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle;
}

/* Form Elements
-----------------------------------------------------------------------------*/
.form-item {
  margin: 0 0 1em;
}

input {
  max-width: 100%;
}

input:not([type]),
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {
  border: 1px solid #ccc;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.8);
  padding: 0.3em 0.4em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px inset;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px inset;
  -moz-transition: all, 0.15s, linear;
  -o-transition: all, 0.15s, linear;
  -webkit-transition: all, 0.15s, linear;
  transition: all, 0.15s, linear;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input:not([type]):focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus,
textarea:focus {
  outline: 0;
  outline: thin dotted \9;
  border-color: #aaa;
}
input:not([type])[disabled],
input[type="text"][disabled],
input[type="password"][disabled],
input[type="email"][disabled],
input[type="url"][disabled],
input[type="date"][disabled],
input[type="month"][disabled],
input[type="time"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="week"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="color"][disabled],
select[disabled],
textarea[disabled] {
  cursor: not-allowed;
  background-color: #ebebeb;
  color: #666;
}

input[type="checkbox"],
input[type="radio"] {
  margin: 0.5em 0;
  display: inline-block;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: 1px auto #666;
}

input[readonly],
select[readonly],
textarea[readonly] {
  background: #eee;
  color: #777;
  border-color: #ccc;
}

select[multiple] {
  height: auto;
}

label {
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  white-space: nowrap;
  display: inline;
  position: relative;
  bottom: 1px;
  padding: 1px 4px 2px 0;
}

[dir="rtl"] label {
  padding: 1px 0 2px 4px;
}

fieldset {
  margin: 0;
  padding: 0.35em 0 0.75em;
  border: 0;
}

textarea {
  resize: vertical;
}

.tips li {
  list-style: none;
}

/* Buttons */
.button {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #666;
  background: #ebebeb;
  border: 1px solid #ccc;
  padding: 0.3em 0.6em;
  margin: 0 0 0 3px;
  width: auto;
  display: inline-block;
  position: relative;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0 inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0 inset;
  box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0 inset;
  -moz-transition: background-color, 0.15s, ease-in-out;
  -o-transition: background-color, 0.15s, ease-in-out;
  -webkit-transition: background-color, 0.15s, ease-in-out;
  transition: background-color, 0.15s, ease-in-out;
}
.button:hover, .button:focus {
  color: #333;
  background-color: #e8e8e8;
}
.button:active {
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 inset;
}
.button[disabled] {
  opacity: 0.8;
  cursor: default;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.button[disabled]:hover {
  color: #666;
}

/* Drop buttons */
.js .dropbutton-widget {
  background-color: #fff;
  border: 1px solid #ccc;
  /* Border radius */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.dropbutton .dropbutton-action > * {
  padding: 0.3em 0.6em;
  white-space: nowrap;
}

.dropbutton .secondary-action {
  border-top: 1px solid #e5e5e5;
}
.dropbutton .secondary-action input {
  border: 0;
  background: #fff;
}

.dropbutton-multiple .dropbutton {
  border-right: 1px solid #e5e5e5;
}
.dropbutton-multiple .dropbutton .dropbutton-action > * {
  margin-right: 0;
  border: 0;
}
.dropbutton-multiple .dropbutton .dropbutton-action .button {
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px 0 0 3px;
}

[dir="rtl"] .dropbutton-multiple .dropbutton {
  border-left: 1px solid #e5e5e5;
  border-right: 0 none;
}
[dir="rtl"] .dropbutton-multiple .dropbutton .dropbutton-action > * {
  margin-left: 0;
}

/* Page Styles
-----------------------------------------------------------------------------*/
.breadcrumb__title {
  float: left;
  font-size: 1em;
  padding: 0 0.4em 0 0;
}

[dir="rtl"] .breadcrumb__title {
  float: right;
  padding: 0 0 0 0.4em;
}

.messages {
  border-width: 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

[class*="messages--"],
[dir="rtl"] [class*="messages--"] {
  box-shadow: none;
}

.messages--status,
[dir="rtl"] .messages--status {
  border-color: #c9e1bd;
}

.messages--warning,
[dir="rtl"] .messages--warning {
  border-color: #f4daa6;
}

.messages--error,
[dir="rtl"] .messages--error {
  border-color: #f9c9bf;
}

/* Blocks
-----------------------------------------------------------------------------*/
/* Search
-----------------------------------------------------------------------------*/
.region-menubar .menu {
  margin: 0;
}
.region-menubar .menu li {
  float: left;
  list-style: none;
  padding: 0;
  margin: 0;
}
.region-menubar .menu a {
  padding: 5px 10px;
  display: block;
}

/* Content Types
-----------------------------------------------------------------------------*/
.node--unpublished {
  background-color: #fff4f4;
}
.node--unpublished p.unpublished {
  font-size: 48px;
  font-size: 3rem;
}

.node__author {
  display: inline;
}

/* Comments
-----------------------------------------------------------------------------*/
.comment--unpublished {
  background-color: #fff4f4;
}
.comment--unpublished p.unpublished {
  font-size: 32px;
  font-size: 2rem;
}

.comment__author {
  display: inline;
}

/* Forums
-----------------------------------------------------------------------------*/
/* Print
-----------------------------------------------------------------------------*/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* Don't show links for images, or javascript/internal links */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
