/**
 * @file
 * Google Ads.
 */

/* Mobile First */
.adsbygoogle {
  background-color: $blue-light;
}

.ads-desktop {
  text-align: center;
  display: none;
}

.ads-tablet {
  text-align: center;
  display: none;
}

.ads-mobile {
  text-align: center;
  display: block;
}

@include breakpoint($bp-tablet) {
  .ads-desktop {
    display: none;
  }

  .ads-tablet {
    display: block;
  }

  .ads-mobile {
    display: none;
  }
}

@include breakpoint($bp-desktop) {
  .ads-desktop {
    display: block;
  }

  .ads-tablet {
    display: none;
  }

  .ads-mobile {
    display: none;
  }
}
