/**
 * @file
 * Carousel.
 */

/* Mobile First */
.technology {
  .html5 {
    text-align: center;
    .logo {
      @include image-replace('technology/html5.png', block);
      background-image: url('../images/technology/html5.svg');
      margin: auto;
    }
  }
  .css3 {
    text-align: center;
    .logo {
      @include image-replace('technology/css3.png', block);
      background-image: url('../images/technology/css3.svg');
      margin: auto;
    }
  }
  .responsive {
    text-align: center;
    .logo {
      @include image-replace('technology/responsive.png', block);
      background-image: url('../images/technology/responsive.svg');
      margin: auto;
    }
  }
  .performance {
    text-align: center;
    .logo {
      @include image-replace('technology/performance.png', block);
      background-image: url('../images/technology/performance.svg');
      margin: auto;
    }
  }
  .drupal {
    text-align: center;
    .logo {
      @include image-replace('technology/drupal.png', block);
      background-image: url('../images/technology/drupal.svg');
      margin: auto;
    }
  }
}


@include breakpoint($bp-tablet) {
}


@include breakpoint($bp-desktop) {
}


@include breakpoint($bp-large) {
}
