/**
 * @file
 * Contact Form.
 */

/* Mobile First */
.contact-detail {
  margin: 70px 0 0;
  padding: 10px;

  h3 {
    border-bottom: 1px $grey solid;
  }

  h4 {
    margin: 0;
  }

  h5 {
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      padding-left: 0px;
      list-style-type: none;
    }
  }

  .address {
    color: $grey;
    font-size: 0.7em;
    line-height: 1.2em;
  }

}

#contact-london {
  margin: 0;

  h3 {
    border-bottom: 1px $blue solid;
  }

}

#contact-brussel {
  margin: 0;

  h3 {
    border-bottom: 1px $green solid;
  }

}


@include breakpoint($bp-tablet) {
}


@include breakpoint($bp-desktop) {

}


@include breakpoint($bp-large) {
}
