/**
 * @file
 * Article.
 */

/* Mobile First */
#footer-center {

  .contact {

    h3 {
      color: $white;
      text-transform: uppercase;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        padding-left: 0px;
        list-style-type: none;
      }
    }

    a {
      @include unstyled-link();

      &:hover {
        color: $green;
      }
    }
  }
}


@include breakpoint($bp-desktop) {
}


@include breakpoint($bp-large) {
}
