/**
 * @file
 * Logo.
 */

/* Mobile First */
#logo {
  @include transition(all .1s ease-out);
  display: block;
  @include image-replace('../images/logos/logo_simple.png', block);
  margin: 20px 0 0px 20px;
}


@include breakpoint($bp-tablet) {
  #logo {
    float: left;
    background: url(../images/logos/logo_medium.png) no-repeat center center;
    width: 240px;
    height: 50px;
    background-size: 240px 50px;
    margin: 0;
    padding: 0 0 0 32px;
  }
}


@include breakpoint($bp-desktop) {
  #logo {
    padding: 10px 0 10px 50px;
    width: 384px;
    height: 80px;
    background-size: 384px 80px;
  }
}


@include breakpoint($bp-large) {
}
