/**
 * @file
 * Logo.
 */

/* Mobile First */
#logo {
  @include image-replace('../images/logos/logo_small.png', block);
  @include hide-text();
  @include unstyled-link();
  @include transition(all .1s ease-out);
}


@include breakpoint($bp-tablet) {
  #logo {
    @include image-replace('../images/logos/logo_medium.png', block);
  }
}


@include breakpoint($bp-desktop) {
  #logo {
    margin: 50px 20px;
    line-height: 200px;
    font-size: 4em;
  }
}


@include breakpoint($bp-large) {
}
