/**
 * @file
 * Article.
 */

/* Mobile First */
.map {
  display: none;

  .london-map {
    height: 150px;
  }

  .contact {
    text-align: center;

    .svg {
      display: none;
    }

    .london-contact {

    }

    .charleroi-contact {
    }
  }

  .charleroi-map {
    height: 150px;
  }
}


@include breakpoint($bp-desktop) {
  .map {
    position: relative;

    .london-map {
      float: left;
      height: 480px;
      width: 50%;
    }

    .contact {
      height: 400px;
      left: 50%;
      margin: 0 0 0 -200px;
      padding-top: 20px;
      padding-bottom: 20px;
      position: absolute;
      top: 50%;
      width: 400px;
      z-index: 1;
      text-align: center;

      .svg {
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }

      .london-contact {
        padding: 29px 0 20px;
        position: relative;
        z-index: 11;
        color: $white;

        a {
          color: $white;
        }
      }

      .charleroi-contact {
        padding: 29px 0 20px;
        position: relative;
        z-index: 11;
        color: $white;

        a {
          color: $white;
        }
      }
    }

    .charleroi-map {
      float: right;
      height: 480px;
      width: 50%;
    }
  }
}


@include breakpoint($bp-large) {
}
