/**
 * @file
 * Navigation.
 */

/* Mobile First */
#main-menu {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {

      a {
        @include unstyled-link();
        display: block;
        padding: 1em 1em 1em 1.2em;
        outline: none;
        color: $blue-darker;
        text-transform: uppercase;
        letter-spacing: 1px;
        box-shadow: inset 0 -1px rgba(36, 31, 85,0.2);
        text-shadow: 0 0 1px rgba(36, 31, 85,0.1);
        -webkit-transition: background 0.3s, box-shadow 0.3s;
        transition: background 0.3s, box-shadow 0.3s;

        &:before {
          font-family: FontAwesome;
          font-size: 1em;
          float: left;
          padding: 0 10px 0 10px;
          color: $blue-darker;
        }

        &:hover {
          background: rgba(36, 31, 85,0.2);
          box-shadow: inset 0 -1px rgba(0,0,0,0);
          color: $white;

          &:before {
            color: $white;
          }
        }

        &.active {
          font-weight: bold;
        }
      }

      // About.
      &.menu-62-active-trail,
      &.menu-62 {

        a {
          &:before {
            content: "\f007";
          }
        }
      }

      // Services
      &.menu-66-active-trail,
      &.menu-66 {

        a {
          &:before {
            content: "\f121";
          }
        }
      }

      // Blogs
      &.menu-63-active-trail,
      &.menu-63 {

        a {
          &:before {
            content: "\f19a";
          }
        }
      }

      // Works
      &.menu-65-active-trail,
      &.menu-65 {

        a {
          &:before {
            content: "\f06e";
          }
        }
      }

      // Contact
      &.menu-64-active-trail,
      &.menu-64 {

        a {
          &:before {
            content: "\f0e0";
          }
        }
      }

      // Lab
      &.menu-67-active-trail,
      &.menu-67 {
        a {
          background: rgba(13, 177, 75, 0.1);

          &:hover {
            background: rgba(13, 177, 75, 0.2);
          }

          &:before {
            content: "\f0c3";
          }
        }
      }

      &:first-child a {
        box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
        margin-top: 1em;
      }
    }
  }
}


@include breakpoint($bp-tablet) {
  #main-menu {
    ul {
      padding-right: 20px;
      li {
        a {
          font-size: 0.9em;
          padding: 0px 7px;
          margin: 0!important;;
          text-transform: uppercase;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none !important;
          color: $blue-darker;
          background: transparent!important;

          &:hover {
            background: transparent!important;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none !important;
            color: $green;
          }

          &:before {
            content: ""!important;
            padding: 0;
          }
        }
        // Lab
        &.menu-67-active-trail,
        &.menu-67 {
          a {
            background: rgba(13, 177, 75, 0.1)!important;
          }
        }
      }
    }
  }
}


@include breakpoint($bp-desktop) {
  #main-menu {
    ul {
      padding-right: 40px;
      li {
        a {
          font-size: 1em;
          padding: 0 0.4em;
        }
      }
    }
  }
}


@include breakpoint($bp-large) {
  #main-menu {
    ul {
      padding-right: 50px;
      li {
        a {
          font-size: 1.1em;
          padding: 0 1em;
        }
      }
    }
  }
}
