/**
 * @file
 * Article.
 */

/* Mobile First */
#secondnav {

  .menu {
    list-style: none;
    *zoom: 1;
    background: $blue;

    &:before,
    &:after {
      content: " ";
      display: table;
    }

    &:after {
      clear: both;
    }

    a {
      padding: 10px 15px;
      color:$white;
      @include unstyled-link;
    }

    li {
      position: relative;
    }

    > li {
      float: left;
    }

    // Second level.
    ul {
      list-style: none;
      width: 15em;
      background: $blue-dark;

      li {
        background: $blue-dark;
        color: $white;
        width: 100%;
        font-size: 0.8em;

        &:hover {
          color: $blue-light;
        }
      }
    }
  }
}

#secondnav .menu > li > .parent {
  background-repeat: no-repeat;
  background-position: right;
}
#secondnav .menu > li > a {
  display: block;
}
#secondnav .menu li  ul {
  position: absolute;
  left: -9999px;
}
#secondnav .menu > li:hover > ul {
  left: 0;
}
#secondnav .menu li li:hover ul {
  left: 100%;
  top: 0;
}
#secondnav .menu li li a {
  display: block;
  position: relative;
  z-index:100;
}


@include breakpoint($bp-tablet) {

}


@include breakpoint($bp-desktop) {

}


@include breakpoint($bp-large) {

}