/**
 * @file
 * Logo.
 */

/* Mobile First */
html {
  /* all the tags up to .fullscreen-cont must have this style */
  height:100%;
  body {
    height:100%;
    .container {
      height:100%;
      overflow: visible;
      //overflow-x: hidden;
      #main-wrapper {
        height:100%;
        .intro {
          height:100%;
          background:transparent url('/themes/mariquecalcus/images_sources/splash/splash.svg') center center no-repeat;
          position: relative;
          z-index: 1;
          padding: 0;
          width: 100%;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;

          h1 {

          }

          .content {
            width: 100%;
            overflow: hidden;
            display:block;
            position:relative;
            z-index:1;
            top: 0;
            text-align: center;
            font-size: 1.5em;
          }
        }
      }
    }
  }
}


@include breakpoint($bp-tablet) {
  html {
    /* all the tags up to .fullscreen-cont must have this style */
    height:100%;
    body {
      height:100%;
      .container {
        height:100%;
        overflow: visible;
        #main-wrapper {
          height:100%;
          .intro {

            h1 {

            }

            .content {
              top: 150px;
            }
          }
        }

      }
    }
  }
}


@include breakpoint($bp-desktop) {
}


@include breakpoint($bp-large) {
}
