/**
 * @file
 * Logo.
 */

/* Mobile First */

html {
  body.front {
    .container {
      #main-wrapper {
        .intro {
          height:100%;
          background:transparent url('/themes/mariquecalcus/images/splash/splash.svg') center center no-repeat;
          position: relative;
          z-index: 1;
          padding: 0;
          width: 100%;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;

          h1 {
            font-size: 1.4em;
          }

          .content {
            width: 100%;
            overflow: hidden;
            display:block;
            position:relative;
            z-index:1;
            top: 0;
            text-align: center;
            font-size: 1.2em;
          }
        }
      }
    }
  }
}


@include breakpoint($bp-tablet) {
  html {
    /* all the tags up to .fullscreen-cont must have this style */
    height:100%;
    body.front {
      height:100%;
      .container {
        height:100%;
        overflow: visible;
        #main-wrapper {
          height:100%;
          .intro {

            h1 {
              font-size: 2em;
            }

            .content {
              top: 150px;
              font-size: 1.4em;
            }
          }
        }
      }
    }
  }
}


@include breakpoint($bp-desktop) {

  // Homepage.
  #main-wrapper {
    .intro {

      h1 {
        font-size: 2.5em;
        text-align: center;
        width: 800px;
        margin: 0 auto;
        margin-bottom: 50px;
      }

      .content {
        top: 150px;
        font-size: 1.4em;
      }
    }
  }

  // Blog.
  .page-blogs #main {
    background:transparent url('/themes/mariquecalcus/images/splash/empty.jpg') center 0 no-repeat;
    //background:transparent url('/themes/mariquecalcus/images/splash/blog.jpg') center 0 no-repeat;
    padding-bottom: 200px;

    h1.title {
      font-weight: 100;
      color: $white;
      text-align: center;
    }

    h2.subtitle {
      font-weight: 400;
      font-size: 1.5em;
      color: $white;
      text-align: center;
      margin-bottom: 100px;
    }
  }

  // Service.
  .page-node-8  #main {
    background:transparent url('/themes/mariquecalcus/images/splash/empty.jpg') center 0 no-repeat;
    //background:transparent url('/themes/mariquecalcus/images/splash/service.jpg') center 0 no-repeat;
    padding-bottom: 200px;

    h1.title {
      font-weight: 100;
      color: $white;
      text-align: center;
    }

    h2.subtitle {
      font-weight: 400;
      font-size: 1.5em;
      color: $white;
      text-align: center;
      margin-bottom: 100px;
    }
  }

  // Contact.
  .page-contact  #main {
    background:transparent url('/themes/mariquecalcus/images/splash/empty.jpg') center 0 no-repeat;
    //background:transparent url('/themes/mariquecalcus/images/splash/contact.jpg') center 0 no-repeat;
    padding-bottom: 200px;

    h1.title {
      font-weight: 100;
      color: $white;
      text-align: center;
    }

    h2.subtitle {
      font-weight: 400;
      font-size: 1.5em;
      color: $white;
      text-align: center;
      margin-bottom: 100px;
    }

  }

  // Work
  .page-works  #main {
    background:transparent url('/themes/mariquecalcus/images/splash/empty.jpg') center 0 no-repeat;
    padding-bottom: 200px;

    h1.title {
      font-weight: 100;
      color: $white;
      text-align: center;
    }

    h2.subtitle {
      font-weight: 400;
      font-size: 1.5em;
      color: $white;
      text-align: center;
      margin-bottom: 100px;
    }

  }

}


@include breakpoint($bp-large) {
}
