/**
 * @file
 * Article.
 */

/* Mobile First */
.work-teaser {
  padding-bottom: 2em;

  .title {
    text-align: center;

    a {
      @include unstyled-link();
    }
  }

}


@include breakpoint($bp-desktop) {
  .work-teaser {
    padding-bottom: 3em;
  }
}


@include breakpoint($bp-large) {
}
