/**
 * @file
 * Article.
 */

/* Mobile First */
.work-teaser {
  padding-bottom: 2em;

  .title {
    text-align: center;

    a {
      @include unstyled-link();
    }
  }

  .drawing {
    position: relative;


    .read-more {
      position: absolute;
      top: 8px;
      left: 3px;
      background: $blue-dark;
      color: inherit;
      @include unstyled-link();
      width: 173px;
      line-height: 29px;
      color: $white;
      padding: 3px 10px;
      text-align: center;
      @include transition(background-color .5s ease-in);
      text-rendering: optimizeLegibility;

      &:hover {
        background: $blue-darker;
      }
    }
  }
}


@include breakpoint($bp-desktop) {
  .work-teaser {
    padding-bottom: 3em;
  }
}


@include breakpoint($bp-large) {
}
