/**
 * @file
 * Article.
 */

/* Mobile First */
.work {
  .aside {
    background-color: $blue-lighter;
    padding: 5px;

    .field-name-field-highlight {
      padding-bottom: 15px;

      .field-label{
        display: none;
      }

      .field-item{
        font-size: 0.7em;
        line-height: 1.3em;
        color: $grey;
      }
    }
  }
}


@include breakpoint($bp-tablet) {
  .work {
    .aside {
      float: none;
      position: absolute;
      width: 29%;
    }

    .image {
      width: 70%;
      float: right;
    }

    .content {
      width: 55%;
      margin-left: 20%;
      float: left;
    }
  }
}


@include breakpoint($bp-desktop) {
  .work {
    .aside {
      background-color: $blue-lighter;
      padding: 5px;

      .field-name-field-highlight {
        padding-bottom: 35px;

        .field-label{
          display: none;
        }

        .field-item{
          font-size: 0.8em;
          line-height: 1.4em;
          color: $grey;
        }
      }
    }
  }
}
