/**
 * @file
 * Global.
 */

strong,
b {
  font-weight: bold;
}

a {
  @include unstyled-link();
  color: $green;

  &:hover {
    color: $blue;
  }
}

sup {
  top: -6px;
  position: relative;
  font-size: 0.7em;
}
