/**
 * @file
 * Variables.
 */

// Breakpoint.
$bp-small: 400px;
$bp-tablet: 768px;
$bp-desktop: 992px;
$bp-large: 1200px;

// Main color.
$grey-light: #aaaaaa;
$grey: #808080;
$grey-dark: #676767;
$grey-darker: #4f4f4f;

$white: #FFFFFF;
$blue-lighter: #E9F2F9;
$blue-light: #B2D1E5;
$blue: #6FB7E9;
$blue-dark: #3C8DC5;
$blue-darker: #241F55; // rgb(36, 31, 85)

$green: #0DB14B;

$susy: (
  columns: 12,
  gutters: 0,
  math: fluid,
  output: float,
  gutter-position: inside,
);
