/**
 * @file
 * Scrolling.
 */

/* Mobile First */


@include breakpoint($bp-tablet) {
  #header.scrolling {
    background-color: $white;
    height: 50px;

    .navigation {
      line-height: 50px;
    }

    #logo {
      width: 240px;
      height: 50px;
      background-size: 240px 50px;
      padding: 0 0 0 50px;
    }
  }
}
