/**
 * @file
 * Scrolling.
 */

/* Mobile First */
@include breakpoint($bp-desktop) {
  #header.scrolling {
    background-color: $white;

    #logo {
      line-height: 100px;
      padding: 15px;
      margin: 0;
      //@include image-replace('../images/logos/logo_medium.png', block);
    }

  }
}
