
// Core (basic settings - toggle, logo, favicon etc)

#edit-basic-settings {
  overflow: hidden;
  padding: 0;
}

.theme-settings-bottom {
  clear: none;
}

#system-theme-settings .vertical-tabs,
#system-theme-settings .form-type-vertical-tabs {
  margin: 0;
  border-radius: 0;
}

#edit-jquery {
  .form-type-checkbox {
    .description {
      font-size: 0.8em;
    }
  }
}

#edit-drupal-core {
  .form-type-checkbox {
    margin-bottom: 0;
  }

  small {
    display: block;
    margin-left: 2em;

    &:before {
      content: "- ";
    }
  }
}
