//
// Set base defaults for HTML elements.
// This is designed to work in conjunction with normalize which is loaded by
// Drupal core by default. Note that form elememts are not included here, see
// _form-elements.scss.
//
// ---------------------------------------------------------------------------
@import "base";

/* HTML Elements
-----------------------------------------------------------------------------*/

html {
  @include font-size(16px);
  line-height: 1.625;
}

// Compass headings() mixin, takes a range, e.g. headings(2,6) or all
#{headings(all)} {
  margin: 0;
}

// Reset heading font sizes in px and rem.
h1 {
  @include font-size(32px);
}

h2 {
  @include font-size(24px);
}

h3 {
  @include font-size(18px);
}

h4 {
  @include font-size(16px);
}

h5 {
  @include font-size(14px);
}

h6 {
  @include font-size(12px);
}

a {
  text-decoration: none;

  &:link,
  &:visited {}

  &:active,
  &.active {}

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

/* Flexible images */
img {
  height: auto;
  max-width: 100%;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* A better looking default horizontal rule */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle;
}
