//
// Style common page elements such as tabs, action links, pagers and
// things like the main background color (html and body element styles).
//
// TODO: check selectors after everything becomes a block:
// - https://drupal.org/node/507488
// ---------------------------------------------------------------------------
@import "base";

/* Page Styles
-----------------------------------------------------------------------------*/

html {}
body {}


// Breadcrumbs.
.breadcrumb {
  ol {
  }
  li {
    &:before {
      // content: " » "; // Seperator
    }
    &:first-child:before {}
  }
}

.breadcrumb__title {
  float: left;
  font-size: 1em;
  padding: 0 0.4em 0 0;
}

[dir="rtl"] .breadcrumb__title {
  float: right;
  padding: 0 0 0 0.4em;
}


// Tabs.
.tabs {

  &.primary {

    li {

      a {

        &.active {}
        &:hover,
        &:focus {}
      }
    }
  }

  &.secondary {

    li {

      a {

        &.active {}
        &:hover,
        &:focus {}
      }
    }
  }
}


// Pager - used for pagination type navigation.
.item-list .pager {

  li {

    &.pager-current {}

    a {

      &:hover,
      &:focus {}
    }
  }
}


// Messages overrides
.messages {
  border-width: 1px;
  @include border-radius(3px);
}

[class*="messages--"],
[dir="rtl"] [class*="messages--"] {
  box-shadow: none;
}

.messages--status,
[dir="rtl"] .messages--status {
  border-color: #c9e1bd;
}

.messages--warning,
[dir="rtl"] .messages--warning {
  border-color: #f4daa6;
}

.messages--error,
[dir="rtl"] .messages--error {
  border-color: #f9c9bf;
}

