/* Basic styles for the window size debugger */

.window-size-indicator {
  background-color: #000;
  bottom: 3px;
  color: #FFF;
  font: 11px sans-serif;
  padding: 3px 10px;
  position: fixed;
  right: 3px;
  opacity: 0.95;
  z-index: 999999;
  border-radius: 4px;
}
.window-size-indicator p {
  margin: 0;
  padding: 0;
}